#book-a-table{
    padding-top: 130px;
    padding-bottom: 130px;
}
.book-a-table-form{
    background-color: aliceblue;
    height: 100%;
}

.book-a-table-head{
    text-align: center;
}
.form-table-image img{
    width: 90%;
    
}
.form-table-inputs-wrapper{
    justify-content: space-around;
}
.table-input{
    margin-bottom: 20px;
    height: 35px;
    
}

.table-input input{
    height: 100%;
    width: 95%;
    padding-left: 10px;
    border-color: rgba(250, 250, 250, 0.582)
    
}

.book-a-table-wrapper{
    margin-top: 40px;
}

.form-table-placeholder{
    width: 100%;
}

.form-table-inputs-wrapper{
    
    padding-top: 50px;
    justify-content: space-between;

}
.table-textarea{
    padding-top: 20px;
    
    
}

.table-textarea textarea{
    border-width: 2px;
    border-style: inset;
    resize: none;
    border-color: rgba(250, 250, 250, 0.582)
    
}

.btn-div{
    text-align: center;
    padding-top: 20px;
    width: 100%;
}

.btn-div button{
    height: 40px;
}

@media screen and (min-width: 600px) and (max-width: 1000px){

    .book-a-table-wrapper .container-70{
        width: 90%;
    }
    .book-a-table-form .row .col-4{
        width: 100%;
    }
    .form-table-image{
        width: 100%;
    }
    .form-table-image img{
        width: 100%;
    }

    .table-input {
        width: 50%;
    }
    .col-md-12{
        width: 50%;
    }
    .book-a-table-form .col-8{
        width: 100%;
    }

    .form-table-inputs-wrapper .col-4{
        width: 50%;
    }

    .form-table-inputs-wrapper .table-input{
        width: 50%;
    }
    .book-a-table-form .row .col-8 .col-4{

        width: 50%;
    } 

  
}

