#chefs{
    background-color: #EEEEEE;
    padding-bottom: 140px;
    padding-top: 60px;

}
.chefs-head-section{
    text-align: center;
    margin-bottom: 40px;
}


.chef-card-image img{
    width: 100%;
    height: 400px;
}

.chef-card-image {
    width: 100%;
}
.chef-card{
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 600px;
    border: 1px solid rgb(243, 243, 243);
}

.chef-cards-wrapper{
    justify-content: space-around;
}

.chef-card-info h5{
    padding-top: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
}

.chef-card-info span{
    color: rgba(51, 55, 59, 0.7);
    font-size: 14px;
    font-weight: 400;
}
.chef-card-info p{
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.7);
}

.chef-card-info{
    text-align: center;
}

@media screen and (min-width: 600px) and (max-width: 1000px){

    .chef-cards-wrapper .col-4{
        width: 50%;
    }

    .chef-cards-wrapper{
        justify-content: flex-start;
    }

    .chef-card{
        margin-top: 20px;
        height: 500px;
        
    }

    .chef-card-image img{
        width: 100%;
        height: 300px;
    }

    #chefs .container-70{
        width: 90%;
    }
}

@media screen and (min-width: 280px) and (max-width: 599px){
    .chef-cards-wrapper .col-4{
        width: 100%;
    }

    .chef-cards-wrapper{
        justify-content: flex-start;
    }

    .chef-card{
        margin-top: 20px;
        height: 500px;
        width: 100%;
    }

    .chef-card-image img{
        width: 100%;
        height: 300px;
    }

    #chefs .container-70{
        width: 90%;
    }
}
